<h2>All Downloads List</h2>
<br>
<br>
<br>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<table>
    <tr>
        <th>File Name</th>
        <th>File ID</th>
        <th>File Size</th>
        <th>Status</th>
    </tr>
    {% for file in data_list.all_downloads %}
    <tr>
        <td>{{ file.name }}</td>
        <td>{{ file.file_id }}</td>
        <td>{{ file.file_size }}</td>
        <td>{{ file.isdeleted }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>

    